<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Worm domination</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    
    <style type="text/css">
        @media (min-width: 56em) {
            #container {
                margin: 0 auto;
                width: 50%;
             }
        }
        @media (min-height: 600px) {
            #mynetwork {
                width: 100%;
                height: 600px;
                /* border: 1px solid lightgray; */
            }
        }
        body
        {
                background-color: #363636 ;
        }
      </style>
 
    
</head>
<body>
    
    <div id=container class="container">
        <div class="card">
            <div class="card-header" style="background-color:#363636;">
                <h1 style="text-align:center;color:white;">Worm Domination</h1><br>
                <p class="text-break" style="color:white;">O worm é um malware muito perigoso. Programas maliciosos autônomos que se replicam e se propagam por redes de computadores, USB e outros tipos de conexões. Tem propagação é rápida e ocorre sem controle da usuário.
                    Analise o grafo abaixo, e responda : O <b>menor número (aproximadamente)</b> de dispositivos, capazes de infectar a maioria do grupo de dispositivos (subgrafo).
                </p>
                <div class="d-grid gap-2"><input type="button" value="Novo Grafo" onClick="history.go(0)" class="btn btn-info"></div> 
            </div>
            <div class="card-body" style="background-color:#363636;">
                <div id="mynetwork"></div>
            </div>
            <div class="card-footer" style="background-color:#363636;">
                <input id="entrada" type="number" placeholder="Number of devices" class="form-control me-2"><br>
                <div class="d-grid gap-2"><button id="resposta" class="btn btn-info" type="submit" onclick="feedback(entrada.value)">Enviar</button></div>
            </div>
        </div>
    </div>
    
    
</body> 
    <script src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src="../logic/Graph.js"></script>
    <script src="../logic/database.js"></script>
    <script src="../logic/Controller.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
</html>